@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend,
textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* =============================== add perso =========================== */
a {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  border: 0px solid;
}

hr, button {
  border: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  border: 4px solid orange;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0.8rem;
}

.center_out {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: center 3s infinite linear;
  height: clamp(225px, 40vw, 800px);
  width: clamp(225px, 40vw, 800px);
  position: relative;
  box-shadow: 7px 7px 3px rgba(255, 121, 218, 0.705), 7px 7px 7px 7px rgba(147, 86, 220, 0.705);
  border-radius: 50%;
}
@keyframes center {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.center_in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(325px, 60vw, 900px);
  width: clamp(325px, 60vw, 900px);
  position: absolute;
  box-shadow: inset 0px 0px 50px 25px rgba(147, 86, 220, 0.267);
  border-radius: 50%;
}

.text_and_icon {
  animation: text_and_icon 3s infinite linear;
}
@keyframes text_and_icon {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.text_and_icon .fa-utensils,
.text_and_icon .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#FF79DA 0%, #9356DC 20%, transparent 100%);
  background-size: 100% 300%;
  background-position: 0 -100%;
  animation: text 3s infinite linear;
  width: 100%;
  height: auto;
  font-size: clamp(3.5rem, 10vw, 12rem);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@keyframes text {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0 100%;
  }
}
.text_and_icon .text {
  font-family: "Shrikhand", cursive;
  padding: 0 1rem;
}

/*# sourceMappingURL=style.css.map */
