@mixin loader_animation_center{
    animation: center 3s infinite linear;

    @keyframes loader_center{

        0%{
            transform:rotateZ(0deg); 
        }
        
        100%{
            transform:rotateZ(360deg);
        }
    }
}


@mixin loader_text_and_icon{
    animation: text_and_icon 5s infinite linear;

    @keyframes loader_text_and_icon{

        0%{
            transform:rotateZ(0deg);
        }
        
        25%{
            transform:rotateZ(-10deg);
        }

        75%{
            transform:rotateZ(10deg);
        }

        100%{
            transform:rotateZ(0deg);

        }
    }
}


@mixin loader_animation_text{
    // background: linear-gradient($secondary_color 0%, $primary_color 20%, transparent 100%);
    background: linear-gradient($secondary_color 0%, $primary_color 20%); 
    // background-size: 100% 200%;     //n°1
    background-size: 100% 200%;  //n°2
    background-position: 0 -100%;  //position du dégradé H V
    animation: loader_text 1.5s infinite linear;

    @keyframes loader_text{

        0%{
            background-position: 0 -100%;
        }

        100%{
            // background-position: 0 0;  //n°1
            background-position: 0 100%; //n°2
        }
    }
}
